@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic-ext");
/* Base styles
-------------------------------------------------- */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  position: relative;
  font-size: 1rem;
  min-height: 100%;
  min-width: 320px; }

body {
  margin-bottom: 100px;
  /* Margin bottom by footer height */ }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5; }

a {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

.price:after {
  content: ' p.';
  font-weight: 400;
  font-size: 0.80rem; }

/* Header styles
-------------------------------------------------- */
header {
  background: #202124;
  /* Tablets */
  /* Desktop and larger */ }

header .logo {
  padding: 0;
  text-align: center; }

header .logo a {
  display: inline-block;
  height: 80px;
  width: 115px;
  text-indent: -9999px;
  background: url(../img/zakuski.svg) no-repeat;
  background-size: contain;
  background-position: center; }

header .hamburger {
  font-size: 35px;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #fff;
  cursor: pointer; }

header .hamburger.closeBtn span:before {
  content: "\f2d7"; }

@media only screen and (min-width: 768px) {
  header .logo {
    float: left; }
  header .logo a {
    display: inline-block;
    text-indent: -9999px;
    height: 50px;
    width: 130px;
    background: url(../img/zakuski.svg) no-repeat;
    background-position: center;
    margin-left: 25px; } }

@media only screen and (min-width: 992px) {
  header .logo a {
    display: inline-block;
    text-indent: -9999px;
    width: 160px;
    background: url(../img/zakuski.svg) no-repeat;
    background-size: contain;
    background-position: center; } }

/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  /* Tablets */
  /* Desktop and larger */ }

nav.navigation ul {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none; }

nav.navigation ul li {
  margin: 5px 0;
  font-size: 16px;
  text-transform: uppercase; }

nav.navigation ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

nav.navigation ul li a:hover {
  color: #ccc; }

nav.navigation ul li a.active {
  border-bottom: 3px solid #e8500e; }

@media only screen and (min-width: 768px) {
  nav.navigation.hidden {
    display: block !important;
    /* must be here for hamburger menu */ }
  nav.navigation ul li {
    font-weight: 600;
    margin: 10px 10px 7px;
    display: inline-block; }
  nav.navigation ul li a {
    padding: 7px 0; } }

@media only screen and (min-width: 992px) {
  nav.navigation ul {
    margin: 0; }
  nav.navigation ul li {
    margin: 1rem; } }

/* Welcome-section styles
-------------------------------------------------- */
.welcome-section {
  background: #202124;
  padding-top: 5rem;
  /* Tablets */
  /* Desktop and larger */ }

.welcome-section h2 {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  text-align: right;
  font-size: 30px; }

.welcome-section .sub-header {
  color: #ccc;
  text-align: right;
  margin-bottom: 1rem; }

.welcome-section .finder {
  width: 100%;
  margin: 0 auto; }

.welcome-section .finder input {
  float: left;
  width: 70%;
  height: 50px;
  font-size: 1rem; }

.welcome-section .finder button {
  width: 29%;
  height: 50px;
  margin-left: 1%;
  font-size: 1rem;
  background: #e8500e;
  color: #fff; }

.welcome-section .steps {
  height: 152px;
  max-width: 650px;
  background: url(../img/steps.svg) no-repeat;
  background-position: center;
  margin: 50px auto 100px; }

@media only screen and (min-width: 768px) {
  .welcome-section h2 {
    font-size: 35px; }
  .welcome-section h2, .welcome-section .sub-header {
    text-align: center;
    padding: 0.5rem 0; }
  .welcome-section .sub-header {
    text-align: center;
    padding: 0.5rem 0; }
  .welcome-section .finder {
    width: 600px; } }

@media only screen and (min-width: 992px) {
  .welcome-section .sub-header {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 16px; } }

/* Welcome-section styles
-------------------------------------------------- */
.text-section {
  /* Tablets */
  /* Desktop and larger */ }

.text-section .light {
  background: transparent;
  border-bottom: 1px solid #f5f5f5;
  color: #000; }

.text-section .text {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.1rem; }

.text-section a {
  color: #e8500e; }

/* icons
  'partials/icons/_ionicons-variables',
  'partials/icons/_ionicons-font',
  'partials/icons/_ionicons-icons';
*/
