/* Welcome-section styles
-------------------------------------------------- */
.add-place-banner {
  height: 200px;
  margin: 1rem 0;

  .earth {
    display: none;
  }
  .header {
    float: right;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: $main-dark;
    text-align: center;
    font-size: 20px;
  }
  .sub-header {
    color: #666;
    text-align: center;
    padding: 0.5rem 0 1rem;
  }

  /* SmartPhones */
  @media only screen and (min-width: 450px) {
    .earth {
      display: block;
      width: 50%;
      height: 200px;
      float: left;
      background: url(../img/add-place-banner.svg) no-repeat;
      background-size: contain;
      background-position: 66%;
    }
    .header {
      width: 50%;
    }
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    .header {
      font-size: 30px;
      text-align: left;
    }
  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {

  }

}