/* Header styles
-------------------------------------------------- */
header {
  background: $main-dark;

  .logo {
    padding: 0;
    text-align: center;

    a {
      display: inline-block;
      height: 80px;
      width: 115px;
      text-indent: -9999px;
      background: url(../img/logo-white.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  .hamburger {
    font-size: 35px;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #fff;
    cursor: pointer;

    &.closeBtn span:before {
      content: "\f2d7";
    }
  }



  /* Tablets */
  @media only screen and (min-width: 768px) {
    .logo a {
      display: block;
      text-indent: -9999px;
      height: 70px;
      background: url(../img/logo-white.svg) no-repeat;
      background-size: cover;
      background-position: center;
    }
  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    .logo a{
      display: inline-block;
      text-indent: -9999px;
      height: 90px;
      width: 220px;
      background: url(../img/logo-white.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }
  }


}