/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    &.sub-nav {
      display: none;
      margin-left: 20px;
      li {
        text-transform: none;
        a:hover {
          text-decoration: underline;
        }
      }
    }
    li {
      margin: 5px 0;
      font-size: 16px;
      text-transform: uppercase;
      a {
        color: $dark-gray;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: #000;
        }
        &.active {
          border-bottom: 3px solid $main;
        }
      }
    }
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    &.hidden {
      display: block !important; /* must be here for hamburger menu */
    }
    ul {
      &.sub-nav {
        z-index: 1001;
        position: absolute;
        margin: 20px 0 0 0;
        padding: 10px 0;
        background: $main;
        color: #fff;
        &:before {
          content: '';
          position: absolute;
          top: -10px;
          left: 20%;
          width: 0;
          height: 0;
          border-bottom: 10px solid $main;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
        li {
          display: block;
          margin: 0.2rem 1rem;
          text-transform: none;
          font-weight: 400;
          a {
            color: #fff;
            font-weight: normal;
          }
        }
      }
      li {
        font-weight: 600;
        margin: 10px 10px 7px;
        display: inline-block;
        a {
          padding: 7px 0;
        }
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    ul {
      margin: 1.5rem 0 0 0;
      li {
        margin: 10px;
      }
    }

  }

}