/* Places section styles
-------------------------------------------------- */
.places-section {
  padding: 1.5rem 1rem;

  .filter {
    background: $gray-light;
    border: 1px solid $gray-dark;

    .filter-header {
      background: $orange;
      line-height: 3rem;
      text-align: center;
      color: #fff;
      font-size: 1rem;
      border-bottom: 1px solid $gray-dark;
    }
    .devider {
      margin: 1rem 0;
      border-bottom: 1px solid $gray-dark;
    }

  }



  /* SmartPhones */
  @media only screen and (min-width: 450px) {

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {


  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {

  }

}