/* Places section styles
-------------------------------------------------- */
.places-section {
  padding: 1.5rem 1rem;

  .filter {
    background: $gray-light;
    margin-bottom: 1.5rem;

    .filter-header {
      background: $orange;
      line-height: 3rem;
      padding: 0 1rem;
      color: #fff;
      font-size: 1.3rem;

      .ion-ios-settings {
        padding-right: 10px;
      }
      .filter-trigger {
        font-size: 25px;
        position: absolute;
        top: 2px;
        right: 2rem;
        color: #fff;
        cursor: pointer;

        &.minusBtn span:before {
          content: "\f2f4";
        }
      }
    }
    .filter-body {
      padding: 1rem 0;
      border: 1px solid $gray-dark;

      .form-group {
        padding: 0 1rem;
      }
      .form-control {
        height: 40px;
      }
      h5 {
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 1rem;
        color: $omen-dark;
      }
    }
    .devider {
      margin: 1rem 0;
      border-bottom: 1px solid $gray-dark;
    }

  }
  .place {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 1.5rem;
    background: $gray-light;
    border: 1px solid $gray-dark;
    border-radius: 2px;

    .top-block {
      position: relative;
      height: 200px;
      border-radius: 2px;
      background: $main-dark url(../img/elements/wave-tile.png) repeat-x bottom;

      .distance, .rating, .reviews-number{
        display: inline-block;
        position: absolute;
        color: white;
      }
      .distance {
        top: 1rem;
        left: 1rem;
        background: $orange;
        border-radius: 2px;
        padding: 0 5px;
      }
      .rating {
        left: 1rem;
        bottom: 1rem;

        .icon {
          font-size: 1.3rem;
          color: $gold;
        }
      }
      .reviews-number {
        right: 1rem;
        bottom: 1rem;
        font-size: 0.7rem;
        padding-bottom: 5px;
        text-transform: uppercase;
      }

    }
    .middle-block {
      overflow: hidden;
      padding: 1rem;

      .options {
        float: left;
        font-size: 35px;

        .delivery-icon {
          float: left;
          width: 67px;
          height: 40px;
          margin: 5px;
          background: url(../img/icons/delivery.svg) no-repeat;
          background-size: contain;
          background-position: center;
          &:hover {
            cursor: pointer;
            background: url(../img/icons/delivery-hover.svg) no-repeat;
            background-size: contain;
            background-position: center;
          }
        }

      }
      .btn {
        float: right;
        padding: 10px 15px;
        border: 2px dashed $orange;
        border-radius: 4px;
        color: $orange;
      }
    }
    .bottom-block {
      overflow: hidden;
      border-top: 1px solid $gray-dark;

      .logo {
        float: left;
        width: 50px;
        height: 50px;
        background: #fff;
        border: 1px solid $gray-dark;
        margin: 5px;
      }
      .info {
        margin: 5px;

        .title {
          font-size: 1rem;
          padding-bottom: 5px;
        }
        .address {
          color: $text-gray;
        }
      }
    }

  }

  /* SmartPhones */
  @media only screen and (min-width: 550px) {
    .place {
      float: left;
      width: 48%;
      margin: 0 1rem 1.5rem 0;

      &:nth-child(2n) {
        float: right;
        margin: 0 0 1.5rem 0;
      }
    }
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {


  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    .filter {
      .filter-header .filter-trigger {
        display: none;
      }
      .filter-body {
        &.hidden {
          display: block !important; /* must be here due mobile filter*/
        }
      }
    }
    .place {
      float: left;
      width: 47%;
      margin: 0 1rem 1.5rem 0;

      &:nth-child(2n) {
        float: left;
        margin: 0 1rem 1.5rem 0;
      }
    }
  }

  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {
    .tv-grid {
      max-width: 27rem;
    }
    .filter {
      max-width: 25rem;
    }
    .place {
      margin: 0 1.5rem 1.5rem 0;

      &:nth-child(2n) {
        margin: 0 1.5rem 1.5rem 0;
      }
    }
  }


}