/* Welcome-section styles
-------------------------------------------------- */
.settings-section {
  background: $gray-light;
  border-bottom: 1px solid $gray-dark;

  .container {
    // padding: 0;
  }

  .settings {
    padding: 1rem 0;
    font-size: 0.9rem;

    .pointer {
      color: $orange;
    }
  }

  a {
    color: $orange;
  }



  /* Tablets */
  @media only screen and (min-width: 768px) {
    .settings {
      font-size: 1rem;
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {


  }

}