/* Welcome-section styles
-------------------------------------------------- */
.welcome-section {
  background: $main-dark;
  padding-top: 5rem;

  h2 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    text-align: right;
    font-size: 35px;
  }
  .sub-header {
    color: #ccc;
    text-align: right;
    margin-bottom: 1rem;
  }
  .finder {
    width: 100%;
    margin: 0 auto;

    input {
      float: left;
      width: 70%;
      height: 50px;
      font-size: 1rem;
    }
    button {
      width: 29%;
      height: 50px;
      margin-left: 1%;
      font-size: 1rem;
      background: $yellow;
      color: #fff;
    }
  }
  .steps {
    height: 200px;
    width: 650px;
    background: url(../img/steps.svg) no-repeat;
    background-size: contain;
    background-position: center;
    margin: 50px auto 100px;
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    h2, .sub-header  {
      text-align: center;
      padding: 0.5rem 0;
    }
    .sub-header  {
      text-align: center;
      padding: 0.5rem 0;
    }
    .finder {
      width: 600px;
    }
  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    .sub-header  {
      text-align: center;
      padding: 0.5rem 0;
      font-size: 16px;
    }
  }

}